.container{
    width: 90vmin;
    height: 90vmin;
}

.row{
    display: flex;
    flex: 1;

}
.column {
    flex: 1;       /* Each column fills equal width */
    aspect-ratio: 1 / 1;  /* Makes it square */
    border: 1px solid;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}